<!-- <div *ngFor="let stu of students; index as i">
  <span>{{i+1}}. </span>
  <span style="margin-right: 5px">Name: {{ stu.name }}</span>
  <span style="margin-right: 5px">Mark: {{ stu.mark }}%</span>
  <span *ngIf="stu.mark >= 50">Passed</span>
  <span *ngIf="stu.mark < 50">Failed</span>
</div>

Structural Directives: *ngIf, *ngFor, *ngSwitch -->
<!-- Attribute Directives: [ngClass], [ngStyle] -->
<!-- 
<div class="title">Angular Before v.17</div>
<div appRandomColor *ngFor="let stu of students; index as i">
  <span>{{ i + 1 }}. </span>
  <span
    style="margin-right: 5px"
    [ngClass]="{ passed: stu.mark >= 50, failed: stu.mark < 50 }"
    >{{ stu.name }}</span
  >
  <span
    style="margin-right: 5px"
    [ngStyle]="{ color: stu.mark >= 50 ? 'green' : 'red' }"
    >{{ stu.mark }}%</span
  >
  <span *ngIf="stu.mark >= 50">Passed</span>
  <span *ngIf="stu.mark < 50">Failed</span>
</div>

<br />
<br />
<br />
<br /> 


<div>Angular After v.17</div>

@for(stu of students; track students; let i =$index){
<div>
  <span>{{ i + 1 }}. </span>
  <span
    style="margin-right: 5px"
    [class]="stu.mark >=50 ? 'passed' : 'failed'"
    >Name: {{ stu.name }}</span
  >
  <span style="margin-right: 5px" [style.color]="stu.mark >=50 ? 'green' : 'red'">Mark: {{ stu.mark }}%</span>
  @if(stu.mark >= 50) {
  <span>Passed</span>
  } @else if(stu.mark < 50) {
  <span>Failed</span>
  } @else {
  <span>Failed</span>
  }
</div>
} -->

<!-- Control Flow: @if, @for, @switch, @case, @default -->
<!-- [class.passed]="stu.mark >= 50"
    [class.failed]="stu.mark < 50"
    [style]="{'color' : stu.mark >=50 ? 'green' : 'red'}"
    -->

<!-- <div style="margin: 40px">
  <img
    width="405"
    height="405"
    id="image"
    [src]="images[currentIndex]"
    alt="Random Image"
  /> -->
<!-- data binding Ts -> HTML 
  one-way binding(input): Interpolation {{}} , Property Binding [] 
  -->

<!-- <br />
  <button type="button" id="previous" [disabled]="currentIndex === 0" (click)="previous()">Previous</button>
  <button type="button" id="next" [disabled]="currentIndex === this.images.length - 1" (click)="next()">Next</button> -->
<!-- data binding HTML -> Ts
  one-way binding(output): Event Binding ()
  -->
<!-- </div> -->

<!-- Tow-way binding (HTML <-> Ts) -->
<!-- <div style="margin: 40px">
  <form [formGroup]="form">
    <input type="text" formControlName="name" /> -->
<!-- <input type="text" formControlName="email" />
    <input type="text" formControlName="phone" /> -->

<!-- </form>
</div>

<div class="title">
  {{ form.value.name }}
</div> -->

<div class="header">
  <h2 class="title">Select And Submit To Join One Of Our Courses</h2>
  <div class="content">
    <div class="account">
      <span class="account-email">moustafabtoush079@gmail.com</span>
      <span class="switch-account">
        <a href="myaccount.google.com/" target="_blank">Switch Account</a>
      </span>
      <span class="icon"><i class="fa-solid fa-cloud-arrow-up"></i></span>
    </div>
    <p class="discription">
      The name, email address and photo associated with your Google Account will
      be recorded when you upload files and submit this form
    </p>
    <p class="warning">* Indicates required question</p>
  </div>
</div>
<form [formGroup]="form">
  <div class="question">
    <div class="title">
      <label for="email"> Email <span class="warning">*</span> </label>
    </div>
    <div class="question-input">
      <input
        id="email"
        type="email"
        placeholder="Your Email Address"
        formControlName="email"
        [class.requited-input-warning]="form.get('email')?.invalid && form.get('email')?.touched" 
      />
      @if(form.get('email')?.invalid && form.get('email')?.touched)
      {
        @if(form.get('email')?.errors?.['required'])
        {
          <div class="invalid-input-message" >
           * Email is required
          </div>
        }
        @else if(form.get('email')?.errors?.['email'])
        {
          <div class="invalid-input-message">
        * Invalid Email 
        </div >
        }
      }
  
    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="name"> Name <span class="warning">*</span> </label>
    </div>
    <div class="question-input">
      <input
        id="name"
        type="text"
        placeholder="Your Name"
        formControlName="name"
        [class.requited-input-warning]="form.get('name')?.invalid && form.get('name')?.touched"
      />
    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="number"> Phone Number <span class="warning">*</span> </label>
    </div>
    <div class="question-input">
      <input
        id="number"
        type="text"
        placeholder="Your Phone Number"
        formControlName="phone"
        [class.requited-input-warning]="form.get('phone')?.invalid && form.get('phone')?.touched"
      />
    </div>
  </div>
  <div class="question">
    <div class="title">
      <label for="cours"> Courses <span class="warning">*</span> </label>
    </div>
    <div class="question-input">
      <select id="course" formControlName="course">
        @for(course of courses; track course)
        {
        <option [value]="course.id">{{ course.name }}</option>
        }
      </select>
    </div>
  </div>
  <div class="action">
    <button type="button" class="submit buttun" [class.disabled-button]="!form.valid" [disabled]="!form.valid">Submit</button>
    <button type="button" class="reset buttun" (click)="reset()">Clear Form</button>
  </div>
</form>
<div class="footer">
  <p class="copy-right">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vel
    quisquam deleniti, esse quae corporis, et adipisci veniam illo sapiente
    magnam, ipsum totam.
  </p>
  <p class="logo">Google Form</p>
</div>
<!-- <div class="container">
  <div class="box">box1</div>
  <div class="box">box2</div>
  <div class="box">box3</div>
</div> -->
