.title {
    font-size: 20px;
    font-weight: 600px;
}

.passed {
    font-weight: 600px;
    color: green;
}

.failed {
    font-weight: 600px;
    color: red;
}

.header {
    background-color: #FFFFFF;
    padding: 1% 4% 2%;
    border-radius: 10px;
    border: 1px rgb(191, 190, 190) solid;
    border-top: 9px rgb(162, 0, 255) solid;
}

.account-email {
    font-weight: 600;
    color: #6a6a6a;
}

.account-email,
.switch-account,
.icon,
.description {
    font-size: 0.9rem;
}

.warning {
    color: red;
}

.account {
    display: flex;
}

.switch-account {
    flex-grow: 1;
    padding-left: 2%;
}

.question {
    background-color: #FFFFFF;
    padding: 2% 4% 2%;
    border-radius: 10px;
    border: 1px rgb(191, 190, 190) solid;
    margin-top: 1%;
}

.title {
    font-size: 1.3rem;
    padding-bottom: 1%;
}

input,
select {
    padding: 1% 2%;
    border: 1px #ccc solid;
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.buttun {
    padding: 1.5% 2.5%;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
}

.disabled-button {
    background-color: #baa4de !important;
}

.submit {
    background-color: rgb(162, 0, 255);
    color: #FFFFFF;
}


.reset {
    background-color: unset;
    color: rgb(162, 0, 255);
}

.reset:hover {
    background-color: #eae7f8;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.copy-right {
    font-size: 0.9rem;
    color: rgb(144, 144, 144);
}

.logo {
    font-size: 1.4rem;
    color: rgb(41, 41, 41);
    font-weight: 600;
    margin-top: 1%;
}



.requited-input-warning {
    border-color: #d10000;
}

.invalid-input-message {
    font-size: 0.9rem;
    padding: 1%;
    color: #d10000;
}