/* You can add global styles to this file, and also import other style files */
html{
    /* background-color: aliceblue;
    font-family: sans-serif;
    font-size:14Px;
    margin:1% 22%; */
}
@media(max-width:600px)
{
html
{
    /* font-size:17px;
    margin:1% 4%; */
} 

}