/* You can add global styles to this file, and also import other style files */

html{
    /* background-color: aliceblue;
    font-family: sans-serif;
    font-size:14Px;
    margin:1% 22%; */
}

@media(max-width:600px)
{
    html{
        /* font-size:17px;
        margin:1% 4%; */
    } 

}

.table-header{
    display: flex;
    align-items: center;
}
.table-title{
    flex-grow: 1;
}
.align-end{
    align-items: flex-end;
}


.invalid-input{
    border: solid 2px red;
}