.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6c757d;
}
.form{
    background: white;
    margin: 0px 30%;
    height: 70vh;
    border-radius: 15px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2.0rem 0;
}
.form-label{
    font-weight: 500;
}
.btn{
    width: 100%;
}
.err-message{
    color: red;
    margin-top: 0.5rem 0px;
    text-align: center;
    font-size: 1.3rem;
}