<div class="main">
    <div class="container-fluid form">
        <div class="header">
            <span>HR</span>
            <span>Management System</span>
        </div>
        <div class="content" [formGroup]="loginForm">
            <div class="mb-3">
                <!-- username -->
                  <label for="usernameControl" class="form-label">Username</label>
                  <input type="text" class="form-control" id="usernameControl" formControlName="Username"
                   placeholder="Please Enter Username" [class.invalid-input]="loginForm.get('Username')?.invalid && loginForm.get('Username')?.touched">
            </div>
            <div class="mb-3">
                <!-- password -->
                  <label for="passwordControl" class="form-label">Password</label>
                  <input type="password" class="form-control" id="passwordControl" formControlName="Password"
                   placeholder="Please Enter Password" [class.invalid-input]="loginForm.get('Password')?.invalid && loginForm.get('Password')?.touched">
            </div>
        </div>

        <div class="actions">
        <button type="button" class="btn btn-secondary" (click)="login()">
             Login 
            </button>
        </div>
    </div>
    
</div>