.table-header{
    display: flex;
    align-items: center;
}
.table-title{
    flex-grow: 1;
}
.align-end{
    align-items: flex-end;
}
.invalid-input{
    border: solid 2px red;
}
.employee-image{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
}